<section class="flex-align-centre">
    <div class="info-section contact-page">
        <!-- Maybe just straight up remove this. -->
        I'm not really into the whole social media thing.
        <div class="flex-align-centre icon-row">
            <a class="pad-right" href="https://github.com/MattL75" target="_blank"
                aria-label="Link to Mathieu Lajoie's GitHub profile.">
                <i class="fa fa-github-square fa-3x"></i>
            </a>
            <a class="pad-right" href="https://www.linkedin.com/in/mlajoie03/" target="_blank"
                aria-label="Link to Mathieu Lajoie's LinkedIn profile.">
                <i class="fa fa-linkedin-square fa-3x"></i>
            </a>
            <a href="mailto:mlajoie03@gmail.com" aria-label="Send to Mathieu Lajoie's email.">
                <i class="fa fa-envelope-square fa-3x"></i>
            </a>
        </div>
    </div>
</section>
