<div class="main-carousel">
    <div class="carousel-cell">
        <p class="carousel-label" aria-hidden>Archery tag with the SAP crew.</p>
        <img src="../../../../assets/archery.png" alt="Matt playing archery tag." />
    </div>
    <div class="carousel-cell">
        <p class="carousel-label" aria-hidden>On a peak of Seoraksan in South Korea.</p>
        <img src="../../../../assets/korea2.jpg" alt="Matt in South Korea on a peak of Seoraksan." />
    </div>
    <div class="carousel-cell">
        <p class="carousel-label" aria-hidden>SAP internship crew.</p>
        <img src="../../../../assets/sap_gang.png" alt="Matt with fellow SAP interns at archery tag." />
    </div>
    <div class="carousel-cell">
        <p class="carousel-label" aria-hidden>Near Dongdaemun Design Plaza in South Korea.</p>
        <img src="../../../../assets/korea1.jpg" alt="Matt in South Korea near Dongdaemun Design Plaza." />
    </div>
    <div class="carousel-cell">
        <p class="carousel-label" aria-hidden>Playing hockey in high school.</p>
        <img src="../../../../assets/goalie_2.png" alt="Matt playing hockey as a goalie." />
    </div>
    <div class="carousel-cell">
        <p class="carousel-label" aria-hidden>Former colleagues of Scigilian Software.</p>
        <img src="../../../../assets/scigilian.png" alt="Matt with colleagues at Scigilian Software." />
    </div>
</div>
